body{
    background-color: rgb(198, 226, 197);
    background-color: rgb(64, 69, 64);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 16, 168);
    text-align: center;
}
.cabecera{
    background-color:rgba(195, 119, 20, 0.554);
    height: 1.5rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#memeHeader{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.container{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(220, 225, 180);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container{
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
}
.container h1{
    font-size: 50px;
    color: rgb(20, 225, 157);
}
.post p:nth-child(5){
    color: magenta;
    width: 70%;
    margin: 0 auto;
}